body {
    background-color: rgb(245, 241, 234);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24;
    font-weight: bold;
    margin: 30px;
}

h2:hover {
    color: rgb(128, 125, 120);
}

/* THIS LINE GOES THERE TO KNOW THE BORDERS */

/* .carrousel, .aboutUs, .infoSection, .ourProducts, .location {
    border: 5px solid red;
} */

.location, .infoSection {
    background-color: #d4d4d4;
}

footer {
    background-color: rgb(49, 49, 49);
    margin-top: 100px;
}

/* Paragraph Display  */
.textDisplay {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}
.contactForm {
    width: 60vw;
    margin: 0 auto;
}

.titleCenter {
    text-align: center;
} 

.centerButtons {
    width: 5vw;
    margin: 0 auto;
    padding: 20px;
}

.iframeStyle {
    text-align: center;
    margin: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color:rgb(128, 125, 120);
}

.container {
    text-align: center;
    padding: 20px;
}

i.fas, i.far {
    font-size: 30px;
    /* transition-property: font-size;
    transition-duration: .5s;
    transition-timing-function: ease-in; */
}

i.fas:hover, i.far:hover {
    font-size: 34px; 
    color: rgb(128, 128, 128);
}

.ourProducts {
    text-align: center;
}

/* Carousel Settings */
.carousel .carousel-item {
    max-height:550px;
}

.carousel-item img {
    object-fit:cover;
    max-height:550px;
} 

h5 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h5 a:hover {
    color:rgb(27, 27, 27);
}
