body {
    background-color: rgb(245, 241, 234);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

h2:hover {
    color: rgb(128, 125, 120);
}

@media screen and (min-width: 601px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
    }
}

/* THIS LINE GOES THERE TO KNOW THE BORDERS */

/* .carrousel, .aboutUs, .infoSection, .ourProducts, .location {
    border: 5px solid red;
} */

.location, .infoSection {
    background-color: #d4d4d4;
}

footer {
    background-color: rgb(49, 49, 49);
    margin-top: 100px;
}

/* Paragraph Display  */
.textDisplay {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}

@media screen and (min-width: 601px) {
    .textDisplay {
        width: 500px;
        margin: 0 auto;
        padding: 30px;
    }
}

@media screen and (max-width: 600px) {
    .textDisplay {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
    }
}

.contactForm {
    width: 60vw;
    margin: 0 auto;
}

.titleCenter {
    text-align: center;
} 

.centerButtons {
    width: 5vw;
    margin: 0 auto;
    padding: 20px;
}

/* Map Styles */
.iframeStyle {
    text-align: center;
    margin: 50px;
}

.map {
    width: 600px;
    height: 450px; 
    border: 0;
    padding-bottom: 30px;
}

@media screen and (min-width: 601px) {
    .map {
        width: 600px;
        height: 450px; 
        border: 0;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .map {
        width: 350px;
        height: 400px; 
        border: 0;
        padding-bottom: 30px;
    }
}


.nav-link {
    color: white;
}

.nav-link:hover {
    color:rgb(128, 125, 120);
}

.container {
    text-align: center;
    padding: 20px;
}

i.fas, i.far {
    font-size: 30px;
    /* transition-property: font-size;
    transition-duration: .5s;
    transition-timing-function: ease-in; */
}

/* Icons Media Queries */
@media screen and (min-width: 601px) {
    i.fas, i.far {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    i.fas, i.far {
        font-size: 20px;
    }
}

i.fas:hover, i.far:hover {
    font-size: 34px; 
    color: rgb(128, 128, 128);
}

.ourProducts {
    text-align: center;
}

/* Carousel Settings */
.carousel .carousel-item {
    max-height:550px;
}

.carousel-item img {
    object-fit:cover;
    max-height:550px;
} 

h5 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h5 a:hover {
    color:rgb(27, 27, 27);
}

