body {
    background-color: rgb(245, 241, 234);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24;
    font-weight: bold;
    margin: 30px;
}

.carrousel, .aboutUs, .infoSection, .ourProducts {
    border: 5px solid red;
}

.infoSection, .location {
    background-color: #d4d4d4;
}

footer {
    background-color: rgb(49, 49, 49);
    margin-top: 100px;
}

/* Paragraph Display  */
.textDisplay {
    width: 500px;
margin: 0 auto;
}
.contactForm {
    width: 60vw;
    margin: 0 auto;
}

.titleCenter {
    text-align: center;
}

.centerButtons {
    width: 5vw;
    margin: 0 auto;
    padding: 20px;
}

.iframeStyle {
 text-align: center;
 margin: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color:rgb(128, 125, 120);
}

.container {
    text-align: center;
    padding: 20px;
}

i.fas, i.far {
    font-size: 30px;
}